extends layout

block content
    #images.row
        each image in image_obj
            .col-3.card-space
                .card.card-fixed
                    .card-body
                        h6
                            strong Id:
                            small #{image.Id}
                        h6
                            strong Tag:
                            | #{image.RepoTags[0]}
                        h6
                            strong Size:
                            | #{parseInt(image.Size / (1000 * 1000))} MB
                    .card-footer
                        button.btn.btn-outline-info Run
                        =" "
                        button.btn.btn-outline-danger Remove